<div class="ui header">My Beers</div>

<hr>

<div class="ui list">
    {{#each beers as |beer|}}
        {{#link-to "beers.show" beer class="item"}}
            <i class="bar icon"></i>
            <div class="content">
                <div class="header">{{beer.name}} {{ui-rating rating=beer.rating maxRating=5 interactive=false class="mini star"}}</div>
                <div class="description">{{beer.notes}}</div>
            </div>
        {{/link-to}}
    {{/each}}
</div>
{{#link-to "beers.new" class="ui basic button"}}
  <i class="plus square outline icon"></i> Add a new beer
{{/link-to}}